.course_box {
  position: relative;
}
.course-name {
  display: flex;
}
.course-title > .prof {
  display: inline;
}
.cp-report-label {
  position: absolute;
  top: 8px;
  font-size: 14px;
  color: rgb(37, 45, 168);
  height: 20px;
  overflow: hidden;
  margin: 0;
}
.cp-report-label.accent {
  color: #ea2f41;
}
