.cp-table-item {
  cursor: pointer;
}
.cp-table-item > h2 {
  margin: 4px 0;
  font-size: 15px;
}
.cp-table-item > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.cp-table-item > div > p {
  margin-right: 6px;
  font-weight: bold;
  font-size: 13px;
}
